Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

zuul.d/jobs.yaml:

---
# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/gen-edpm-baremetal-kustomize.sh
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md
- job:
    name: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc
    parent: data-plane-adoption-github-rdo-centos-9-extracted-crc
    required-projects:
      - openstack-k8s-operators/openstack-operator
    irrelevant-files: *openstack_if

network-isolation using custom libvirt network
  Makefile
  devsetup/Makefile
  devsetup/scripts/interfaces-setup.sh
  scripts/gen-edpm-kustomize.sh
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Ensure early RNG entropy, avoid FIPS kernel panic
  devsetup/scripts/bmaas/vbm-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

[WIP] Use RNG backend builtin
  devsetup/scripts/bmaas/vbm-setup.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

DO NOT MERGE - DEBUG RNG backend
  devsetup/scripts/bmaas/vbm-setup.sh
  scripts/gen-edpm-baremetal-kustomize.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Remove ansibleVars from the NodeSet node spec
  scripts/gen-edpm-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Split devsetup make standalone target into its own standalone_deploy
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/standalone/net_config.j2
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Generate amphora server CA secret
  scripts/gen-input-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Ensure DataplaneServices gets the expected image
  Makefile
  scripts/gen-edpm-services-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Use NAMESPACE variable for nova-migration-key
  scripts/gen-edpm-nova-migration-ssh-key.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Update kustomize to v5.0.3
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Wire up new data-plane-adoption-OSP-17-to-extracted-crc for zuul check
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Fixing Keystone KUTTL Tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Allow sushy-tools image to be overridden
  devsetup/Makefile
  devsetup/scripts/bmaas/sushy-emulator.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Use virtual-media in CI
  devsetup/scripts/edpm-compute-baremetal.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Use edpm_deploy_prep target for generating crs with kustomization
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

gen-nncp.sh - add IPv6 support
  Makefile
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Change to shorter domain name
  devsetup/scripts/ipv6-nat64/README.md
  devsetup/scripts/ipv6-nat64/network.sh
  devsetup/scripts/ipv6-nat64/sno.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

IPv6 SNO Lab - make targets
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

NAT64 - SNO (Single-node-OpenShift) libvirt lab
  devsetup/scripts/ipv6-nat64/README.md
  devsetup/scripts/ipv6-nat64/nat64_router.sh
  devsetup/scripts/ipv6-nat64/network.sh
  devsetup/scripts/ipv6-nat64/sno.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Write env file to source
  devsetup/scripts/ipv6-nat64/sno.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

installer - split up wait-for use.
  devsetup/scripts/ipv6-nat64/sno.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Add support to manage firewalld zone
  devsetup/Makefile
  devsetup/scripts/ipv6-nat64/network.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Fix slow DNS lookups for sno.testing.example.com
  devsetup/scripts/ipv6-nat64/sno.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc

Add doc in README.md for IPv6 Lab
  devsetup/README.md
Due: none
