Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

zuul.d/jobs.yaml:

---
# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/gen-edpm-baremetal-kustomize.sh
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md
    vars:
      cifmw_edpm_deploy_baremetal_update_os_containers: true
      cifmw_set_openstack_containers_overrides:
        RELATED_IMAGE_OS_CONTAINER_IMAGE_URL_DEFAULT: "quay.io/steveb/edpm-hardened-uefi:18.0-steveb-20231204"
- job:
    name: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc
    parent: data-plane-adoption-github-rdo-centos-9-extracted-crc
    required-projects:
      - openstack-k8s-operators/openstack-operator
    irrelevant-files: *openstack_if

- job:
    name: content-provider-data-plane-adoption-OSP-17-to-extracted-crc
    parent: data-plane-adoption-OSP-17-to-extracted-crc
    required-projects:
      - openstack-k8s-operators/openstack-operator
    irrelevant-files: *openstack_if

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - cifmw-data-plane-adoption-osp-17-to-extracted-crc:
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/*
              - ^Makefile
              - ^zuul.d/projects.yaml

Adding namespace selector and splitting commands from output
  README.md
Due: none

[DNM] test install-yamls-crc-podified-edpm-baremetal
  Makefile
  zuul.d/projects.yaml
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Add telemetry services to wallaby deployment
  devsetup/standalone/openstack.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Correct order of default route on crc node
  scripts/gen-nncp.sh
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Add tripleo_deploy target to devsetup Makefile plus scripts
  devsetup/Makefile
  devsetup/scripts/undercloud.sh
  devsetup/tripleo/hieradata_overrides_undercloud.yaml
  devsetup/tripleo/net_config.j2
  devsetup/tripleo/undercloud-parameter-defaults.yaml
  devsetup/tripleo/undercloud.conf.j2
  devsetup/tripleo/undercloud_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Run baremetal job for any changes to scripts
  zuul.d/jobs.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Remove duplicate default route from crc node
  scripts/gen-nncp.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Cleanup pre-existing nncp CR yamls
  scripts/gen-nncp.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Bump golang version to 1.20.14
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Floating ip create changes
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Optional host macvlan for storage network
  Makefile
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

increase default ceph timeout to 300 seconds
  scripts/gen-ceph-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Remove hardcoded ctlplane subnet from nncps
  scripts/gen-nncp.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add logic to insure namespace is created and API is accessible before proceeding
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Bump OCP version for IPv6 nat64 lab to latest-4.14
  devsetup/Makefile
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Add NetworkAttachmentDefinition for OVN-Octavia bridge
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

RabbitMQ Kustomize for IPv6
  scripts/gen-service-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add the crc_bmo_setup target to the baremetal target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Clean BMO with baremetal_cleanup
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Add script to assist on cloning repos
  Makefile
  scripts/clone-operator-repo.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Use dataplane kustomize examples instead of sample
  Makefile
  README.md
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc

Use kustomize to update the Ceph Pod OSD data size
  scripts/gen-ceph-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc
