Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  vars:
    cifmw_edpm_deploy_baremetal_update_os_containers: true
    cifmw_set_openstack_containers_overrides:
      RELATED_IMAGE_OS_CONTAINER_IMAGE_URL_DEFAULT: quay.io/steveb/edpm-hardened-uefi:18.0-steveb-20231204

content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc:
  parent: data-plane-adoption-github-rdo-centos-9-extracted-crc
  required-projects:
  - openstack-k8s-operators/openstack-operator

content-provider-data-plane-adoption-OSP-17-to-extracted-crc:
  parent: data-plane-adoption-OSP-17-to-extracted-crc
  required-projects:
  - openstack-k8s-operators/openstack-operator

Fix Ceph Pod multus annotations to work with 4.14
  scripts/gen-ceph-kustomize.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Fix dataplane_kuttl
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add Barbican encryption key to inputs
  Makefile
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add a target to clean CRC version
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Remove unused data-plane adoption job
  zuul.d/jobs.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Remove unused data-plane adoption job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Fix NNCP for IPV6_ENABLED
  scripts/gen-nncp.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Wait for sushy-emulator ready status
  devsetup/Makefile
  devsetup/scripts/bmaas/sushy-emulator.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Split up gen metallb script - deploy vs config
  Makefile
  scripts/gen-metallb-config.sh
  scripts/gen-olm-metallb-okd.sh
  scripts/gen-olm-metallb.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add infra operator on OVN kuttl
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Consolidate adoption CI jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

IPv6 network attachements - no dual stack
  Makefile
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

IPv6 metallb config
  Makefile
  scripts/gen-metallb-config.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add IPv6 support for network attachements
  scripts/gen-netatt.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

NetConfig - IPv6 kustomization
  Makefile
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add NetworkAttachmentDefinition for OVN-Octavia bridge
  scripts/gen-netatt.sh
Due: content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Drop setting PROVISIONING_INTERFACE
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

IPv6 kustomization for OpenstackControlplane
  Makefile
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

We don't have this target docs were adjusted
  devsetup/README.md
Due: none

Add the ability to deploy multiple Ceph Pods
  Makefile
  scripts/gen-ceph-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Adding upgrade-minimal dataplane service
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_upgrade.yaml
  scripts/gen-edpm-baremetal-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Add retry to nncp check
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc, content-provider-data-plane-adoption-OSP-17-to-extracted-crc

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/gen-edpm-baremetal-kustomize.sh, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  content-provider-data-plane-adoption-github-rdo-centos-9-extracted-crc: unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md
  content-provider-data-plane-adoption-OSP-17-to-extracted-crc: unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md
